<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/ef115be938.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <style>
    div.gallery {
      border: 1px solid #ccc;
      float: left;
      width: 300px;
      margin-top: 10%;
      margin-left: 5%;
      margin-right: 5%;
      background-color: #FFF0DF;;
    }

    div.gallery:hover {
      border: 1px solid #777;
    }

    div.gallery img {
      width: 100%;
      height: auto;
    }

    div.desc {
      padding: 15px;
      text-align: center;
    }
  </style>
  <!--Get your own code at fontawesome.com-->
</head>

<body>
  <div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large" style="background: #004733; color: white;">
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="My Account">
        <img src="images/logo.png" class="w3-circle" style="height:65px;width:65px" alt="Avatar">
      </a>
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
        href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
      <a href="addElder" class="w3-bar-item w3-button w3-right w3-padding-large w3-theme-d4" title="Home"><i
          class="fa fa-home w3-margin-right"></i></a>
      <a href="#" class="w3-bar-item w3-button  w3-right w3-hide-small w3-padding-large w3-hover-white"
        title="Account Settings"><i class="fa fa-user"></i></a>
      <a href="#" class="w3-bar-item w3-button  w3-right w3-hide-small w3-padding-large w3-hover-white"
        title="Messages"><i class="fa fa-envelope"></i></a>
      <div class="w3-dropdown-hover w3-hide-small w3-right">
        <button class="w3-button w3-padding-large w3-right" title="Notifications"><i class="fa fa-bell"></i><span
            class="w3-badge w3-right w3-small w3-green">3</span></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
          <a href="#" class="w3-bar-item w3-button">Training Set</a>
          <a href="#" class="w3-bar-item w3-button">Training Record</a>
          <a href="#" class="w3-bar-item w3-button">Personal Information</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
    <br>
    <pre>
         </pre>
  </div>

  <button class="w3-right w3-button" style="margin-top: 8%; margin-right: 5%; background-color: #F8C0C8">+ TRAINING SET</button>
  
  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px; margin-top: 6%;"
    id="mySidebar">

    <div class="w3-container w3-display-container w3-padding-16">
      <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
      <h3 class="w3-wide w3-center"><b>MEMORIA</b></h3>
      <img src="images/profile.jpg" style="width:85%" class="w3-circle w3-hover-opacity"><br><br>
      <a href="#" class="w3-bar-item w3-button w3-center" style="color: blue;">Alissara Rumsrimad</a>
    </div>
    <hr>
    <div class="w3-padding-50 w3-large w3-text-grey" style="font-weight:bold">
      <a href="trainingSet" class="w3-bar-item w3-button">Training Set</a>
      <hr>
      <a href="trainingRecord" class="w3-bar-item w3-button">Training Record</a>
      <hr>
      <a href="personalInformation" class="w3-bar-item w3-button">Personal Information</a>
    </div>
    <a href="login" class="w3-bar-item w3-button w3-padding w3-center"
      style="background-color: #c83e4d; color: white; margin-top: 16%;">Logout</a>
  </nav>

  <div class="gallery" id="hometour01Button"style="margin-left: 30%;">
    <div class="desc">HOME TOUR#1</div>
    <a target="_blank" href="hometour#1.ejs">
      <img src="images/home01.jpg" alt="Cinque Terre" width="1000" height="600">
    </a>
  </div>
  <div class="gallery">
    <div class="desc">HOME TOUR#2</div>
    <a target="_blank" href="hometour#1.ejs">
      <img src="images/home02.jpg" alt="Cinque Terre" width="1000" height="600">
    </a>
  </div>
  <script type="text/javascript">
    document.getElementById("hometour01Button").onclick = function () {
      location.href = "/hometour01";
    };
    
  </script>
</body>

</html>